# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Swagger generated (si generas JSONs o docs)
swagger.json
swagger.yaml

# Docker
docker-compose.override.yml

# Others
coverage/
.tmp/
.cache/
